---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="联系">
  <section class="hero">
    <h1>联系我</h1>
    <p>欢迎交流或合作，邮件是最快的方式。</p>
    <a class="cta" href="mailto:1551867818@qq.com">1551867818@qq.com</a>
  </section>
</BaseLayout>
